@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
ul,
ol,
li,
p,
form {
  margin: 0;
  padding: 0;
  color: white;
}

div,
p,
a,
ul,
ol,
li,
span,
button,
section,
main,
article {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2f2052;
}

*::-webkit-scrollbar-thumb {
  background-color: #8d7cb1;
  border-radius: 20px;
  border: 4px solid #2f2052;
}
